
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background: #f38e1e;
}
::-webkit-scrollbar-track{
    background: #f5f5f5;
}
